@import "../../styles/colors/color.scss";
form {
  input {
    outline: none;
    border: 2px solid $color-overlay;
    padding: 5px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    background: transparent;
    color: $color-overlay;
    font-size: 15px;

    &::placeholder {
      color: $color-overlay;
    }
  }
}
