@import "../../styles/colors/color.scss";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 10px 15px;

  max-width: 200px;

  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;

  &.btn-primary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: #fff;
    transition: background-color, color 350ms ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-secondary {
    background-color: $color-white;
    border: 2px solid $color-white;
    color: $color-primary;

    &:hover {
      opacity: 0.9;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 5px 10px;

  max-width: 200px;

  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;

  &.btn-primary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: #fff;
    transition: background-color, color 350ms ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-secondary {
    background-color: $color-white;
    border: 2px solid $color-black;

    &:hover {
      background-color: $color-primary;
      background-color: rgba(26, 97, 188, .1);
      color: $color-primary;
      border: 2px solid $color-primary;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}