@import "../../styles/colors/color.scss";

.service {
  width: 100%;
  border-radius: 12px;
  min-height: 180px;
  border: 1px solid transparent;
  // margin: 15px;
  padding: 55px 45px 35px 45px;
  transition: border 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

  &:hover {
    border-color: $color-primary;
  }

  .service-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 25px 10px;

    .image {
      width: 50px;
      height: 50px;
      margin-right: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    h2 {
      font-size: 15px;
      text-transform: uppercase;
      color: black;
      margin-left: 10px;
    }
  }

  p {
    font-size: 14px;
    color: black;
  }
}

.about-service {
  padding: 55px 40px 35px 40px;

  .about-servie-header {
    padding: 10px 5px 25px 5px;
  }
}