@import "../styles/global.scss";
@import "../styles/colors/color.scss";
.about-container {
  @include pageSize();
  color: #6e6e6e;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    align-items: center;
    max-width: 1300px;

    margin: auto;

    .card {
      text-align: center;
      margin: 15px 0px;
      border: 2px solid #fff;
      padding: 10px 5px;

      color: #fff;
      background: $color-background;
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .about-title {
    margin: 10px 0;
  }

  .description {
    margin: 10px 0;
    font-size: 16px;
    text-align: justify;
  }
}
