@mixin input($border-color, $background-color) {
  outline: none;
  border: 2px solid $border-color;
  padding: 5px 10px;
  background-color: $background-color;
  max-width: 400px;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
  flex: 0.7;
  font-size: 15px;
}
