header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1300px;
    background-color: #e7e7e7;

    .contact-details {
      display: flex;
      align-items: center;

      p {
        font-size: 14px;
        margin: 10px;
      }
    }

    .header-lists {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;

      .header-list {
        margin: 0 15px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            color: black;
            transition: transform 250ms ease-in-out;
          }

          &:hover .icon {
            color: #1a61bd;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    .header__container {
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0px;

      .contact-details {
        flex-direction: column;

        p {
          font-size: 12px;
          margin: 2px 0;
          width: 100%;
        }
      }
    }
  }
}