nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  height: 70px;
  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }

  .logo {
    width: 100px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .hamburger {
    cursor: pointer;
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
