$color-primary: #1a61bc;
$color-sky-blue: #5fb2d4;
$color-background: #2f3a55;
$color-secondary: black;
$color-border: #7f7d8e;
$color-overlay: #c3cacd;
$color-black: rgba(0, 0, 0, 1);
$color-white: #fff;
$color-orange: #ff922d;
$input-background: rgba(104, 182, 180, 0.137);
