$color-primary: #5eb2d5;
$color-background: #2f3a55;
$color-secondary: #6e6e6e;
$color-border: #7f7d8e;
$color-overlay: #c3cacd;
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 0);
$color-orange: #ff922d;
