.footer-container {
  background-color: #5eb2d5;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;

  .footer-container-header {
    display: grid;
    gap: 5px;
    margin: 10px 0;
    @media screen and (max-width: 768px) {
      gap: 5px;
    }
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    .footer-logo {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
