.footer-container {
  background-color: #5eb2d5;
  width: 100%;

  padding: 15px 20px;
  height: 180px;

  .footer-container-header {
    display: grid;
    gap: 5px;
    margin: 10px 0;
    @media screen and (max-width: 768px) {
      gap: 5px;
    }
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    .footer-logo {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
