.banner-card {
  margin-top: 5%;
  margin-left: 10%;
  padding: 10px;
  border-radius: 15px;
  transition: transform 350ms ease-in-out;
  color: white;

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 20px;
    width: 35%;
  }

  .banner-card-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
  }

  @media screen and (max-width: 300px) {
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }
}
